.switch-wrapper input[type="checkbox"] {
   visibility: hidden;
   display: none;
}

.switch-wrapper *,
.switch-wrapper ::after,
.switch-wrapper ::before {
   box-sizing: border-box;
}

.switch-wrapper .switch {
   --width-of-switch: 3.5em;
   --height-of-switch: 2em;
   --size-of-icon: 1.4em;
   --slider-offset: 0.3em;
   position: relative;
   width: var(--width-of-switch);
   height: var(--height-of-switch);
   display: inline-block;
}

.switch-wrapper .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #4d4d58;
   transition: .4s;
   border-radius: 30px;
}

.switch-wrapper .slider:before {
   position: absolute;
   content: "";
   height: var(--size-of-icon,1.4em);
   width: var(--size-of-icon,1.4em);
   border-radius: 20px;
   left: var(--slider-offset,0.3em);
   top: 50%;
   transform: translateY(-50%);
   background: linear-gradient(40deg,#f2e4e4,#fff 70%);
   transition: .4s;
}

.switch-wrapper input:checked + .slider {
   background-color: #303136;
}

.switch-wrapper input:checked + .slider:before {
   left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
   background: #303136;
   box-shadow: inset -3px -2px 5px -2px #474bff, inset -10px -4px 0 0 #7a7dff;
}